
/*Login模块*/
#bg{
    background-color: rgba(105, 62, 14, 1);
    background-size: auto;
    padding-bottom: 99999px;

}
#login{
    background-color: #936123;
    border-radius: 5px;
}
.myinput:active{
    border: brown solid 2px;
}
.myinput:hover{
    border: #1707a5 solid 2px;
}
#btn{
    background-color: chocolate;
}
#btn:hover{
    background-color: #4d251b;
}
#menu{


    padding-left: 0px;
    margin: 0px;
    background-color: #1d1d48;
}

#menu li{

     width: 100%;
    list-style: none;
    margin:8px 0px 0px 0px;
}


#menu .warp_li{
    text-indent: 15mm;
}

#menu .warp_li:focus{
    background-color: cornflowerblue;

}
#menu .warp_li:hover{

    cursor: pointer;
    background-color: #1a1a35;
}
.two_ul{
    text-indent: 20mm;
    margin: 0;
    padding: 0;
    width: 100%;
}
#menu li .two_li:hover{
    background-color: #1d1d48;
}

#menu:active{
    cursor: pointer;
}
#menu:focus{
    cursor: pointer;
}